<section  class="contenedor">
  <div #tarjeta class="tarjeta" [ngStyle]="{'background-image': getFondoCarrera()}">
    <div class="encabezado">
      <img src="/open.png" alt="Logo ITA" class="form-logo">
    </div>

      <img *ngIf="fotoBase64" [src]="fotoBase64" class="foto">

    <div class="contenido">
      <h3>{{ this.nombre }}</h3>
      <p class="rol">ASPIRANTE</p>
      <!--<p><strong>Email:</strong> {{ this.correo }}</p>-->
      <p><strong>Carrera:</strong> {{ this.carrera }}</p>
      <p><strong>Modalidad:</strong> {{ this.modalidad }}</p>
      <img src="{{ getQR()}}" alt="" width="130" class="qr">
    </div>
  </div>

</section>
<button class="descargar-btn" (click)="descargarTarjeta()">Descargar Tarjeta</button>

